<!DOCTYPE html>

<html>
    <head>
        <title>March 30th, 2019 - Sumary | Lifebeat</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/s/global.css">
        <link type="text/css" rel="stylesheet" href="/s/game/game.css">
    </head>

    <body>
        <div id="top" class="raised box">
            <div id="logout" class="frame">
                <div class="btn"><a href="/logout">Log Out</a></div>
            </div>
            <div id="back" class="frame">
                <div class="raised btn color-btn"><a href="/main">Dashboard</a></div>
            </div>
        </div>

        <div id="main-column" class="box">
            <div id="main-header">
                <h2>Game Summary: March 30th, 2019</h2>
            </div>
            <div id="player-table" class="raised">
                    <div class="table-row table-header">
                        <div class="table-cell">
                            Player
                        </div>
                        <div class="table-cell cell-tiny cell-right">
                            &nbsp;
                        </div>
                        <div class="table-cell cell-tiny cell-right">
                            Hits
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            Bilbo Baggins
                        </div>
                        <div class="table-cell cell-tiny cell-right cell-center">
                            <div class="raised btn color-btn"><a href="/player/bilbobaggins/033019">View</a></div>
                        </div>
                        <div class="table-cell cell-tiny cell-right">
                            12
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            Gandalf the Grey
                        </div>
                        <div class="table-cell cell-tiny cell-right cell-center">
                            <div class="raised btn color-btn"><a href="/player/bilbobaggins/033019">View</a></div>
                        </div>
                        <div class="table-cell cell-tiny cell-right">
                            0
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            Michael Jordan
                        </div>
                        <div class="table-cell cell-tiny cell-right cell-center">
                            <div class="raised btn color-btn"><a href="/player/bilbobaggins/033019">View</a></div>
                        </div>
                        <div class="table-cell cell-tiny cell-right">
                            3
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            Ryan Reynolds
                        </div>
                        <div class="table-cell cell-tiny cell-right cell-center">
                            <div class="raised btn color-btn"><a href="/player/bilbobaggins/033019">View</a></div>
                        </div>
                        <div class="table-cell cell-tiny cell-right">
                            27
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            Thorin Oakenshield
                        </div>
                        <div class="table-cell cell-tiny cell-right cell-center">
                            <div class="raised btn color-btn"><a href="/player/bilbobaggins/033019">View</a></div>
                        </div>
                        <div class="table-cell cell-tiny cell-right">
                            6
                        </div>
                    </div>
                </div>
        </div>

        <script src="/s/game/game.js"></script>
    </body>
</html>
