<!DOCTYPE html>

<html>
    <head>
        <title>Lifebeat</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/s/global.css">
        <link type="text/css" rel="stylesheet" href="/s/index/index.css">

        <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
        <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
    </head>

    <body>
        <div id="main-banner" class="raised box">
            <div id="main-column" class="raised box">
                <h1>Welcome!</h1>
                <h2>Please sign in to continue.</h2>
                <div id="firebaseui-auth-container"></div>
            </div>
        </div>

        <script src="/s/index/index.js"></script>
    </body>
</html>
