<!DOCTYPE html>

<html>
    <head>
        <title>Dashboard | Lifebeat</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/s/global.css">
        <link type="text/css" rel="stylesheet" href="/s/main/main.css">
    </head>

    <body>
        <div id="top" class="raised box">
            <div id="logout" class="frame">
                <div class="btn"><a href="/logout">Log Out</a></div>
            </div>
        </div>

        <div id="main-column" class="box">
            <div id="main-header">
                <h2>Dashboard</h2>
            </div>
            <div id="player-table" class="raised">
                <div class="table-row table-header">
                    <div class="table-cell">
                        Players
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        Bilbo Baggins
                    </div>
                    <div class="table-cell cell-tiny cell-right cell-center">
                        <div class="raised btn color-btn"><a href="/player/bilbobaggins/live">View</a></div>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        Gandalf the Grey
                    </div>
                    <div class="table-cell cell-tiny cell-right cell-center">
                        <div class="raised btn color-btn"><a href="/player/bilbobaggins/live">View</a></div>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        Michael Jordan
                    </div>
                    <div class="table-cell cell-tiny cell-right cell-center">
                        <div class="raised btn color-btn"><a href="/player/bilbobaggins/live">View</a></div>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        Ryan Reynolds
                    </div>
                    <div class="table-cell cell-tiny cell-right cell-center">
                        <div class="raised btn color-btn"><a href="/player/bilbobaggins/live">View</a></div>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        Thorin Oakenshield
                    </div>
                    <div class="table-cell cell-tiny cell-right cell-center">
                        <div class="raised btn color-btn"><a href="/player/bilbobaggins/live">View</a></div>
                    </div>
                </div>
            </div>
            <div id="game-table" class="raised">
                <div class="table-row table-header">
                    <div class="table-cell">
                        Game Summaries
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        March 30th, 2019
                    </div>
                    <div class="table-cell cell-tiny cell-right cell-center">
                        <div class="raised btn color-btn"><a href="/game/033019">View</a></div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/s/main/main.js"></script>
    </body>
</html>
